.app {
  min-height: 100vh;
  background-color: #ffffff; /* White background */
  color: #333; /* Default text color */
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
}

/* Update Navbar theme */
.navbar {
  background-color: #000000; /* Black */
  padding: 1rem;
}

.navbar-brand,
.nav-link {
  color: #FFD700; /* Gold */
}

.nav-link:hover {
  color: #ffdd00; /* Light gold */
}